@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.App {
  display: flex;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;

  font-family: 'Inter';
  height: 100%  ;
  width: 100%;
  left: 100%;
}

h1 {
  margin: 0;
}

